@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Nunito:wght@400;700&family=Source+Code+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,h2{
  font-family: Nunito ;
}
p{
  font-family: Inter ;
}

